/* Palette Definitions */
@define-color bg #242526;
@define-color fg #f1e9d2;
@define-color green #99bc80;
@define-color red #e75a7c;
@define-color yellow #ecbe7b;
@define-color grey #575855;

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(36, 37, 38, 0.9); /* Dark Bamboo with slight transparency */
    color: @fg;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 10px 5px;
    background-color: transparent;
    color: @fg;
}

/* Green Focused Workspace */
#workspaces button.focused {
    background-color: @green;
    color: @bg;
}

#workspaces button:hover {
    background-color: @grey;
    box-shadow: inherit;
    text-shadow: inherit;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    color: @fg;
    margin: 4px 2px;
}

/* Module Accents */
#battery.charging, #battery.plugged {
    color: @green;
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @fg;
}

#pulseaudio {
    color: @green;
}

#network {
    color: @yellow;
}
